<div [ngSwitch]="utente.nome">

    <p *ngSwitchCase="'Nunzio'">
            primo switch
    </p>

    <p *ngSwitchCase="'Alessandro'">
        secondo switch
    </p>
    <p *ngSwitchCase="'Stefano'">
            terzo switch
        </p>
    <p *ngSwitchDefault>
        Condizione non soddisfatta
    </p>

</div>