<h2>Componente Figlio</h2>

<p>{{utenteFiglio?.nome}}</p>
<p>{{utenteFiglio?.cognome}}</p>
<p>{{utenteFiglio?.eta}}</p>


<form #myForm="ngForm" (ngSubmit)="submitEmitter.emit(myForm)">
  <input type="text" [(ngModel)]="utenteFiglio.nome" name="nome" />
  <input type="text" [(ngModel)]="utenteFiglio.cognome" name="cognome" />
  <input type="number" [(ngModel)]="utenteFiglio.eta" name="eta" required/>
  <button type="submit">Salva</button>
</form>
