<div *ngIf="visibile; else altroDiv">
    <p> DIV CON CONDIZIONE</p>
    <p> seconda scritta</p>
</div>

<ng-template #altroDiv>
    <div>
        <p>Condizione dell'if non soddisfatta</p>
    </div>
</ng-template> 

<button class="btn btn-primary" (click)="changeVisibile()">Cambia</button>