<h1>Array Stringhe</h1>
<div>
    <div *ngFor="let stringa of arrayStringhe; let i = index ">
         <p>Posizione: {{i}} Valore: {{stringa}} </p>
         <button class="btn btn-secondary" (click)="rimuovi(i)">Rimuovi</button>
         <button class="btn btn-success" (click)="modifica(i)">Modifica</button>
    </div>
</div>


<button class="btn btn-danger" (click)="aggiungiElemento()" >Aggiungi</button>


<button class="btn btn-warning" (click)="rimuoviUltimo()">Rimuovi Ultimo</button>
