<!-- <p [ngClass]="{'vero': miaStringa.length<10 && miaStringa==='nunzio' , 'falso': miaStringa.length >=10 || miaStringa!=='nunzio'}">
  ngclass works!
</p> -->

<p [ngClass]="miaCondizione ?'vero':'falso'">
  ngclass works!
</p>

{{miaCondizione}}
<br>
<button class="btn btn-primary" (click)="cambiaValore()"> Cambia</button>


<form>
  <input type="text" name="miaStringa" [(ngModel)]="miaStringa" />
</form>

{{miaStringa}}
{{miaStringa.length}}