<div #mioDiv style="height: 100px; max-width:200px" [ngStyle]="{'width.px':myWidth, 'background-color': myColor}"></div>

<form>
  <input #input type="number" name="width" [(ngModel)]="myWidth" />
  <br>
  <input type="text" name="color" [(ngModel)]="myColor" />
</form>