<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home">Home</a>
      <a class="nav-item nav-link" routerLink="/form">Form</a>
      <a class="nav-item nav-link" routerLink="/ngif">Esempio ngIf</a>
      <a class="nav-item nav-link" routerLink="/ngswitch">Esempio ngSwitch</a>
      <a class="nav-item nav-link" routerLink="/array/string">Esempio Array Stringhe</a>
      <a class="nav-item nav-link" routerLink="/array/object">Esempio Array Oggetti</a>
      <a class="nav-item nav-link" routerLink="/ngstyle">Esempio NgStyle</a>
      <a class="nav-item nav-link" routerLink="/ngclass">Esempio NgClass</a>
      <a class="nav-item nav-link" routerLink="/input-output">Esempio Input-Output</a>
      <a class="nav-item nav-link" routerLink="/servizi">Esempio Servizi</a>
    
    </div>
  </div>
</nav>
